.navbar
	padding-top: 7px
	padding-bottom: 8px
	&-block
		display: flex
		justify-content: space-between
		align-items: center
	&__info
		display: flex
		align-items: center
	&__contacts
		display: flex
		flex-direction: column
		text-align: right
	&__address
		color: $text-color
		font-size: 13px
		font-weight: 300
	&__button
		margin-left: 30px
		color: $text-color
		font-size: 13px
		font-weight: 700
	&__phone
		display: inline-block
		color: $text-color
		font-size: 20px
		font-weight: 700
		text-decoration: none
		margin-top: 9px
@media (max-width: 576px)
	.navbar
		&__contacts
			display: none
		&__button
			font-size: 10px
			padding:	15px 26px 14px 26px
			border-radius: 5px
		&__logo
			width: 91px