@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansConvert/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansConvert/MuseoSansCyrl-300"), url("../fonts/MuseoSansConvert/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansConvert/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansConvert/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansConvert/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansConvert/MuseoSansCyrl-700"), url("../fonts/MuseoSansConvert/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansConvert/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansConvert/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1171px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    width: 95%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 273px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border-color: orange;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding-top: 7px;
  padding-bottom: 4px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-right: 30px;
}

.navbar__address {
  color: #333333;
  font-size: 13px;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 7px;
}

.navbar__button {
  color: #333333;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 19px 30px 17px 30px;
  margin-bottom: 5px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 576px) {
  .navbar {
    padding-bottom: 18px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 26px 14px 26px;
    border-radius: 5px;
  }
  .navbar__logo {
    width: 91px;
    margin-left: -5px;
  }
}

.hero {
  padding-top: 50px;
  padding-bottom: 52px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.hero-text__title {
  color: #333333;
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 55px;
  display: inline-block;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 37px;
  margin-left: -2px;
}

.hero-text__subtitle {
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-left: 1px;
  margin-bottom: 69px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 260px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-text {
    padding-right: 25px;
  }
  .hero-text__title {
    font-size: 35px;
    line-height: 40px;
  }
  .hero-text__subtitle {
    font-size: 17px;
    margin-bottom: 55px;
  }
}

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text {
    margin-bottom: 15px;
  }
  .hero-text__title {
    font-size: 30px;
    max-width: 450px;
  }
  .hero-text__subtitle {
    margin-bottom: 30px;
    font-size: 15px;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-list__text {
    line-height: 1.4;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    line-height: 1.4;
    font-size: 27px;
    max-width: 400px;
    margin-bottom: 25px;
  }
  .hero-text__subtitle {
    margin-bottom: 20px;
  }
  .hero-list__item {
    margin-bottom: 15px;
  }
  .hero-list__text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-top: 35px;
  }
  .hero-text {
    padding: 0;
  }
  .hero-text__title {
    font-size: 24px;
    margin-top: 3px;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 29px;
  }
  .hero-list {
    margin-bottom: 17px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 200px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  background: url("../img/background-img.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  padding-top: 70px;
  padding-bottom: 92px;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 91px;
  position: relative;
}

.offer__title {
  margin: 0;
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
}

.offer__subtitle {
  max-width: 240px;
  display: block;
  margin-bottom: 30px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
  padding: 24px 26px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 24px;
}

.info-manager {
  width: 230px;
  margin-right: 65px;
}

.info-self {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-self__phone {
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 20px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 8px;
  }
  .offer__input:first-child {
    margin-right: 0;
  }
  .info-manager {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
  }
  .offer__title {
    font-size: 20px;
    max-width: 300px;
  }
  .info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .offer {
    padding-top: 48px;
    padding-bottom: 56px;
  }
  .offer-block {
    padding-right: 0;
  }
  .offer__title {
    padding: 0;
    margin-left: -2px;
    font-size: 18px;
    line-height: 1.2;
    max-width: 265px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-left: -2px;
    margin-bottom: 28px;
  }
  .offer__input {
    padding: 22px 24px;
    margin-left: -2px;
  }
  .offer__input:nth-child(2) {
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 18px;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-manager {
    margin-right: 0;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .info-self {
    margin-left: 4px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
}

.modal-dialog__close:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

.top {
  width: 60px;
  position: fixed;
  bottom: 30px;
  left: 40px;
  display: none;
  cursor: pointer;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f5f5f5 url("../img/portfolio-bg.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 99px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.arrows__right:hover {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.arrows__left:hover {
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 576px) {
  .portfolio {
    padding-top: 43px;
    padding-bottom: 64px;
    background: #f5f5f5;
  }
  .portfolio__title {
    font-size: 18px;
    margin-bottom: 41px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}

.price {
  padding-top: 100px;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
  max-width: 500px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
  display: block;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  display: inline-block;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 576px) {
  .price {
    padding-top: 52px;
  }
  .price__title {
    font-size: 18px;
    margin-bottom: 27px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 61px;
  }
  .card__text {
    padding-top: 30px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  line-height: 20px;
  margin: auto;
}

.steps {
  padding-top: 132px;
  padding-bottom: 97px;
}

.steps__title {
  max-width: 500px;
  margin: auto;
  margin-bottom: 59px;
}

.steps__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 58px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .step {
    margin-bottom: 20px;
  }
  .step:last-child {
    margin-bottom: 0;
  }
  .step:after {
    right: -35px;
  }
}

@media (max-width: 992px) {
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step:after {
    display: none;
  }
}

@media (max-width: 576px) {
  .steps {
    padding-top: 25px;
    padding-bottom: 75px;
  }
  .steps__title {
    font-size: 18px;
    margin-bottom: 27px;
  }
  .steps__subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
  .step {
    margin-bottom: 29px;
  }
  .step__text {
    line-height: 16px;
    font-size: 12px;
  }
}

.brif {
  padding-top: 100px;
  padding-bottom: 73px;
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, right center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview {
  padding-right: 71px;
}

.interview__title {
  margin-bottom: 55px;
  margin-top: 0;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.interview__subtitle {
  display: block;
  margin-bottom: 94px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__item:last-child {
  margin-bottom: 0px;
}

.interview-list__text {
  max-width: 400px;
}

.interview-list__counter {
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  margin-right: 30px;
  border-radius: 50%;
  font-size: 14px;
}

.form__title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-size: 22px;
  font-size-line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 49px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .brif {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .brif__form {
    padding-left: 30px;
  }
  .form__description {
    display: block;
  }
  .form__title {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .brif {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, right bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 90px;
  }
  .interview__subtitle {
    margin-bottom: 40px;
  }
  .interview-list:last-child {
    margin-bottom: 0;
  }
  .form__title {
    margin-top: 60px;
  }
}

@media (max-width: 578px) {
  .brif {
    padding-top: 46px;
    padding-bottom: 34px;
  }
  .brif__button {
    margin-top: 2px;
    font-size: 14px;
  }
  .brif__form {
    padding-left: 0;
    margin-top: 0;
  }
  .brif__interview {
    padding-right: 0;
  }
  .interview__title {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
    max-width: 250px;
  }
  .interview__subtitle {
    font-size: 14px;
    max-width: 190px;
    margin-bottom: 39px;
  }
  .interview-list__counter {
    margin-right: 8px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 230px;
  }
  .form__title {
    font-size: 18px;
    line-height: 25.35px;
    margin-bottom: 27px;
    margin-top: 145px;
  }
  .form__subtitle {
    font-size: 14px;
    line-height: 26.88px;
    margin-bottom: 34px;
  }
  .form__description {
    font-size: 14px;
    max-width: 140px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__text {
  line-height: 26px;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.contacts__phone {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts__address {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts__time {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .contacts {
    padding-left: 70px;
    padding-top: 50px;
  }
  .contacts__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    position: static;
    width: 100%;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 80px;
  }
}

@media (max-width: 578px) {
  .contacts {
    padding-left: 0;
    padding-top: 55px;
  }
  .contacts__title {
    font-size: 18px;
    margin-bottom: 39px;
  }
  .contacts-list__item {
    max-width: 200px;
  }
  .contacts-list__text {
    font-size: 16px;
  }
}

@-webkit-keyframes slideRight {
  from {
    margin-right: 10px;
  }
  to {
    margin-right: 0px;
  }
}

@keyframes slideRight {
  from {
    margin-right: 10px;
  }
  to {
    margin-right: 0px;
  }
}

@-webkit-keyframes slideLeft {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes slideLeft {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */